---
layout: null
code: portfolio_details_1
title: "Projection 3D Photoréalisme"
permalink: /fr/projection_3d_photoréalisme # change corresponding i18n path variable if permalink changed here!
last_modified_at : "2022-01-18"
---

<html lang="fr">
{% include head.markdown %}

<body>

	{% include page-loading.markdown %}

	<div class="wrapper">
			
		<header>
			{% include header.markdown %}
		</header><!--header end-->

		<section class="pager-section mb-0 no-bg style2">
			<div class="container">
				<div class="pager-info">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</section><!--pager-section end-->


		<section class="page-content pt-0">
			<div class="container">
				<div class="portfolio-details-page">
					<div class="row">
						<div class="col-lg-6">
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_7_detail_4.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_7_detail_1.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_7_detail_2.jpg" alt="" class="w-100">
							</div>
							<div class="azt-img">
								<img src="{{ site.baseurl }}/assets/images/images_portfolio_7_detail_3.jpg" alt="" class="w-100">
							</div><!--abt-zimg end-->
						</div>
						<div class="col-lg-6">
							<div class="portfolio-details-info">
								<h2>Un T3 moderne et pratique.</h2>
								
								<p>
									Une image vaut mieux qu’un long discours !
Rien de tel pour se projeter dans un nouvel achat que des réalisations 3D en photo réalismes.
Les demandes des clients sont appliquées pour bien prendre les décisions sur les travaux à réaliser !
								</p>
								<p id="page-date">{{ page.last_modified_at }}</p>
								<ul class="pz-list">
									<li>
										<h4>Type de réalisation:</h4>
										<span>Rénovation pour particulier</span>
									</li>
									<li>
										<h4>Surface:</h4>
										<span>70 m²</span>
									</li>
									<li>
										<h4>Localisation:</h4>
										<span>Maisons-Alfort (94)</span>
									</li>
								</ul>
								<!--ul class="social-links without-bg">
									<li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
								</ul-->
								<ul class="catg-controls">
									<li>
										<a href="/fr/renovation_pour_location" title=""><i class="la la-angle-left"></i>Précédent</a>
									</li>
								</ul>
							</div><!--catalog-product-info end-->
						</div>
					</div>
				</div><!--catalog-product-page end-->
			</div>
		</section><!--page-content end-->

		<footer>
			{% include footer.markdown %}
		</footer><!--footer end-->

	</div><!--wrapper end-->



{% include scripts.markdown %}

</body>

</html>